body{
	background-image:url(../images/global/page-bg.jpg);
}

.contentImg
{
	postition:absolute;
	top:0;
	left:0;
	x-index:1;
}

#btn-overlay{
	position:absolute;
	bottom:0;
	left:0;
	z-index:999;
}

#overlay{
	position:absolute;
	top:82px;
	display:none;
	z-index:999;
}