body {
	/*background-image:url('../images/3.1/bg.jpg');*/
}

#callout1
{
	height: 172px;
	width:246px;
	top: 244px;
	left: -8px;
}	
#callout2
{
	height: 144px;
	width:240px;
	top: 478px;
	left: 293px;
}	
#callout3
{
	height: 192px;
	width:246px;
	top: 150px;
	left: 627px;
}	

#footnote
{
	position:absolute;
	bottom: 0;
	left: 0;
	display:none;
}	