
#line0 {
	position: absolute;
	top:278px;
	left:378px;
}

#line1 {
	position: absolute;
	top:348px;
	left:374px;
}

#line2 {
	position: absolute;
	top:428px;
	left:374px;
}



#pump {
	position: absolute;
	top:328px;
	left:117px;
}