body {
	background-color:#e0e0e0;
	margin:0px;
	padding:0px;
	width:1024px;
	height:768px;
	background-image:url(../images/best_in_class_2/background.png);
	background-size: 1024px 768px;
	background-position: top left;
	background-repeat:no-repeat;
	position:relative;
}
