body {
    background-color:#e0e0e0;
    margin:0px;
    padding:0px;
    width:1024px;
    height:768px;
    background-image:url(../images/best_in_class_2/background.png);
    background-size: 1024px 768px;
    background-position: top left;
    background-repeat:no-repeat;
    position:relative;
}

.slide {
    position: absolute;
    left: 0px;
    -webkit-animation: slide 0.6s forwards;
    -webkit-animation-delay: 0.4s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

.wrapper {
    overflow: hidden;
    width: 592px;
    height: 245px;
    position: absolute;
    left: 327px;
    top: 220px;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}
