/* local overrides... */
body{
/*	background-image:url(../animation/top.poster.jpg);*/
}

.animationLayer {
	background-image:url(../animation/top.poster.jpg);
}
.headings{
    position:absolute; 
	left:70px;
	top:360px;
}

.buttons{
	position:absolute;
	width:50px;
	top:286px;
	left:290px;
}
.buttons img{
	margin-bottom: 23px;
}

.head4 {
    font-size: 27px;
    line-height: 27px;
    width: 145px;
}