.menu {
	position:absolute;
	top:0;
	left:0;
	display:none;
}

#phone_none {
	position:absolute;
	left:904px;
	top:404px;
}

#phone_1 {
	position:absolute;
	right:0px;
	top:404px;
	display:none;
}

#phone_2 {
	position:absolute;
	left:904px;
	top:404px;
	display:none;
}

#phone_3 {
	position:absolute;
	top:54px;
	left:0;
	display:none;
	z-index:1000;
}

div {
	position:relative;
}

.abs {
	position:absolute;
	top:0;
	left:0;
}
