.overlay {
    left: 510px;
    top: 135px;
    display: none;
    position: absolute;
}

.fourpeople {
    left: 510px;
    top: 135px;
    position: absolute;
}

.prescribeonetouch {
    position: relative;
    left: 52px;
    top: 170px;
}