.menu {
	position:absolute;
	top:0;
	left:0;
	display:none;
}

.copy {
	position:absolute;
	top:215px;
	left:103px;
}

.copy_phone {
	position:absolute;
	top:230px;
	left:399px;
}


div {
	position:relative;
}

.abs {
	position:absolute;
	top:0;
	left:0;
}

#section1_2 {
	display:none;
}

#section1_3 {
	display:none;
	z-index:2000;
}

#section1_4 {
	display:none;
	z-index:2000;
}

#apply_blood {
	position:absolute;
	top:368px;
	left:363px;
	z-index:3000;
	display:none;
}

#sync {
	position:absolute;
	top:204px;
	left:35px;
	z-index:2000;
	display:none;
}

#screen {
	position:absolute;
	left:28px;
	top:111px;
	z-index:2000;
	display:none;
}

#particle_animation {
	position:absolute;
	top:252px;
	left:309px;
	z-index:2500;
	display:none;
}

#phone {
	position:absolute;
	top:150px;
	left:1024px;
	z-index:2400;
}

.phone_screen {
	position:absolute;
	top:255px;
	left:125px;
	z-index:3400;
}

.phone_section {
	position:absolute;
	top:0px;
	left:0px;
	z-index:3400;
	display:none;
}
