.menu {
	position:absolute;
	top:0;
	left:0;
	display:none;
}

.copy {
	position:absolute;
	top:430px;
	left:206px;
}

.copy_phone {
	position:absolute;
	top:459px;
	left:798px;
}


div {
	position:relative;
}

.abs {
	position:absolute;
	top:0;
	left:0;
}

#section1_2 {
	display:none;
}

#section1_3 {
	display:none;
	z-index:2000;
}

#section1_4 {
	display:none;
	z-index:2000;
}

#apply_blood {
	position:absolute;
	top:736px;
	left:725px;
	z-index:3000;
	display:none;
}

#sync {
	position:absolute;
	top:408px;
	left:70px;
	z-index:2000;
	display:none;
}

#screen {
	position:absolute;
	left:56px;
	top:223px;
	z-index:2000;
	display:none;
}

#particle_animation {
	position:absolute;
	top:506px;
	left:614px;
	z-index:2500;
	display:none;
}

#phone {
	position:absolute;
	top:299px;
	left:2048px;
	z-index:2400;
}

.phone_screen {
	position:absolute;
	top:510px;
	left:250px;
	z-index:3400;
}

.phone_section {
	position:absolute;
	top:0px;
	left:0px;
	z-index:3400;
	display:none;
}
