.overlay {
    left: 1020px;
    top: 270px;
    display: none;
    position: absolute;
}

.fourpeople {
    left: 1020px;
    top: 270px;
    position: absolute;
}

.prescribeonetouch {
    position: relative;
    left: 103px;
    top: 340px;
}