body{
    background-image:url(../../images/suppliers/background.png);
}

.contentImg
{
    postition:absolute;
    top:0;
    left:0;
    x-index:1;
}

.key{
    postition:absolute;
    margin-top:18px;
    left:0;
    x-index:2;
}

#coverageTable{
    x-index:3;
    width:100%;
    margin-top:70px;
    border-spacing: 0;
    padding:0;
    border:none;
    background-color: #ffffff;
    border-color: #2aaff8;
    border-width: 10px;
    border-style: solid;
}

thead tr{
    height:70px;
    line-height:50px;
    text-align: left;
}

.tbody
{
}

.col1{
    /*	background-color:#9bd1ee;*/
    /*background-color: #9bd1ee; */
    color: #005daa;
    width:34%;
    text-align:left;
    padding-left:15px;
    font-family: Gotham-Medium;
    font-size: 16px;
    font-weight: bold;
}

.col2{

    width:14%;
    text-align:center;

}
.col3{

    width:14%;
    text-align:center;
   
}

.col1, .col2, .col3, .col4, .col5, .col6 {
    border-right-width: 1px;
    border-right-color: #2aaff8;
    border-right-style: solid;

}

.col4, .col6 {

    width:14%;
    text-align:center;
}

.lastheaderrow td {
    border-bottom-width: 1px;
    border-bottom-color: #2aaff8;
    border-bottom-style: solid;
}

.col5{

    width:14%;
    text-align:center;
}

thead .subhead1 {
/*    box-shadow: 0px -1px 9px #888888; */
    border-bottom-color: #2aaff8;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    /*border-left-color: #2aaff8;
    border-left-style: solid;
    border-left-width: 1px;
    */
}

.topleftcol {
    border-left-color: #2aaff8;
    border-left-style: solid;
    border-left-width: 1px;
   
}

.darkblue {
    color: #005daa;
}

.col{
    background-color:#cccccc;
    width:14%;
    text-align:center;
}

.row-spacer{
    height:0px;
    background-color:#transparent;
}

.odd {
    background-color: #fff;
}

.even {
    background-color: #ebf6fc;
}

.row{
    height:30px;
    opacity:1;	
/*background-color: rgba(255, 255, 255, 0.5);*/
}

.bayer, .abbott, .roche{
    /*display:none;*/
}
.bayer.selected, .abbott.selected, .roche.selected{
    display:block;
}

.selected{
    opacity:1;	
   
}

.selected td {
/*     box-shadow: 0px -1px 9px #888888 */
}

.selected span.verio, .selected span.ultra{
    display:block;	
}

.ddl-col{
    text-align:center;
    padding:0px;
}
.dropdown, .dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; -webkit-tap-highlight-color: transparent; }
.dropdown dd { position:relative; z-index:999; }
.dropdown a { 
    color:#FFFFFF; 
    text-decoration:none; 
    outline:none;
    font-family: Gotham-Medium;
    font-size: 16px;
}

.dropdown dt a {
    /*background:#9bd1ee url(../images/5.2/dd-arrow3.png) no-repeat right center; */
    background-size: 25px 15px;
    padding-right:30px;
    /*	display:block;*/
    display: none;
    border:none; 
}
.dropdown dt a span {display:block; margin-left:10px; }
.dropdown dd ul { 
    background-color:#9bd1ee; 
    display:none;
    left:0px; 
    position:absolute; 
    top:2px; 
    width:230px; 
    list-style:none;
    -webkit-box-shadow: 3px 3px 3px #b1b1b1;
/*border:1px dashed #ececec; */
}
.dropdown span.value { display:none;}
.dropdown dd ul li a { display:block; border-bottom:1px dashed #ececec; -webkit-tap-highlight-color: transparent;}
.dropdown dd ul li a.last {border:none;}

