.overflowWrapper{ width: 1024px; height:768px; overflow: hidden; position:relative;}
.offscreen{
	position: absolute; 
	left: 1024px; 
	top: 486px;
}
.headings{
	margin-top: 130px; 
	height:100px;
}
.headings div{
	height: 35px; 
}