/* local overrides... */
body{
	/*background-image:url(../images/2.2/bg.jpg);*/
}

.headings{
	margin-top:300px;
}

.drag-zone{
	position:absolute;
	float:left;
	z-index:1;
}

.screens{
	position:absolute;
	top:120px; 
	left:373px; 
	display:none;
}

header{
	position:absolute;
	z-index:999;
}