body {
	/*background-image:url('../images/2.3/bg.jpg');*/
}

.headings{
	position:absolute; 
	margin-top: 275px; 
	width:160px;
}

#callout1
{
	height: 60px;
	width:275px;
	top: 178px;
	left: 58px;
}	
#callout2
{
	height: 60px;
	width:340px;
	top: 220px;
	left: 410px;
}	
#callout3
{
	height: 100px;
	width:340px;
	top: 298px;
	left: 426px;
}	

#footnote
{
	position:absolute;
	bottom: 35px;
	right: -40px;
	display:none;
}	