/*.blue{
			border-color: #2aaff8;
			background-color:#2aaff8;
		}*/
				
.tl{
	position:absolute;
	left:-27px;
	top:-7px;
}

.tr{
	position:absolute;
	right:-28px;
	top:-6px;
}

.bl{
	position:absolute;
	left:-12px;
	bottom:-26px;
}

.br{
	position:absolute;
	right:-13px;
	bottom:-26px;
}

.fr{
	float:right;
}

.fl{
	float:left;	
}	

.al{
	text-align:left;
}

.ar{
	text-align:right;
}

.line-end-yellow{	
	height:34px;
	width:34px;
	background-size: 22px 22px;
	background-position: 6.5px 6.5px;
	background-repeat: no-repeat;
	background-image: url(../images/global/co-yellow-line-start.png);
	display:none;
}	

.line-yellow-left{
	background-position:left -35px;
	background-size: 416px 65px;
	background-repeat: no-repeat;					
	background-image: url(../images/global/sprite-lines-horz.png);			
	width:100%;
	height:10px;		
	margin-top:5px;	
}
.line-yellow-right{
	background-position:right -20px;
	background-size: 416px 65px;
	background-repeat: no-repeat;					
	background-image: url(../images/global/sprite-lines-horz.png);			
	width:100%;
	height:10px;	
	margin-top:5px;			
}

@-webkit-keyframes pulsate {
    from {
       -webkit-transform:scale(1);
       -webkit-transform-origin: center;
    }
    to {
       -webkit-transform:scale(1.5);
       -webkit-transform-origin:center;
    }
}

.hotspot{
	height:34px;
	width:34px;
	z-index:999;
	-webkit-tap-highlight-color: transparent;
	-webkit-animation: pulsate 0.45s ease-in-out 0s infinite alternate;
}	

	
.msg p{	
	margin:0px;
	padding:0px;	
	position:absolute;	
	/*width:90%;
	border:1px dashed pink;*/
}

.msg{
	width:100%;
	height:100%;
	z-index:999;
	position:relative;
}

.msg-wrap{	
	height:100%;
	width:100%;
	position:absolute;
	overflow:hidden;
}

.callout{
	position:absolute;
	/*border:1px dashed pink;*/
}