body{
	/*background-image:url(../images/global/page-bg.jpg);*/
}

.headings{
	margin-bottom: 45px;
}

.meters{
	position:relative;		
}

.meter .co{
	text-align:center;
	position:absolute;
	z-index:1;
	display:none;
}
.meter .button{
	position:absolute;
	z-index:999;
	-webkit-transform-origin:center;				
	-webkit-tap-highlight-color: transparent;				
}

#ping{
	position:absolute;
	top: 193px;
        left: 8px;		
}
#ping .co{
	width:210px; 
	margin: -115px 0 0 -12px;
}

#ultra2{
	position:absolute;
        top: 165px;
        left: 555px;
}
#ultra2 .co{
	width:224px; 
        margin: -190px 0 0 -55px;

}

#verio{
	position:absolute;
	top: 150px;
        left: 292px;
}

#veriosync {
    position: absolute;
    top: 130px;
    left: 430px;
}

#veriosync .co{
	width:170px; 
	margin: -170px 0 0 -55px;
}

#verio .co{
	width:170px; 
	margin: -170px 0 0 -55px;
}
#verio .arrow{
	position:absolute;
	bottom:1px;	
	right:-16px;			
}

#mini{
	position:absolute;
        top: 150px;
        left: 707px;			
}
#mini .co{
	width:218px; 
	margin:-188px 0 0 -102px;
}
#mini .arrow{
	position:absolute;
	bottom:1px;	
	right:4px;			
}

#delica{
	position:absolute;
        top: 155px;
        left: 812px;
}
#delica .co{
	width:220px; 
	margin: -220px 0 0 -115px;
}